
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family:  "Merriweather", serif;
  font-size: 100%;
}

p{
  line-height: 2;
}

div{
  background-color: #E4F9F5;

}

h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
}

h2{
  font-weight: normal;
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h3{
  color:  #11999E;
}
a{
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  background-color: white;
  margin: 100px auto 100px;
}

.skills{
  background-color: white;
}

.skill-row{
  background-color: white;
}
.profile{
  background-color: white;
}


.html-description{
  color: #11999E;
}

.python-img{
  float: left;
  margin-right: 30px;
}

.html-img{
float: right;
margin-left:30px;
}

.skill-row{
  width: 50%;
  margin: auto;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container{
  padding: 50px 0 20px;
  height: 150px;
  background-color: #66BFBF
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud{
  position:absolute;
  left: 250px;
  bottom: 300px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.85rem;
  padding: 20px 0;
}

.name-description{
  margin: auto;
  width: 30%;
}

.shoutout{
  text-align: center;
  margin-bottom: 30px;
}

.contact-me{
  background-color: white;
}

.btn {
  background:  #11cdd4;
  background-image: -webkit-linear-gradient(top,  #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top,  #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top,  #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top,  #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom,  #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
